In [2]:
import pandas as pd
import os
#df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df = pd.read_csv(os.path.join('data','DataWPI_V1.csv'), header=0)
df.head(2)

,index,PortName,LAT1,LAT2,LAT3,LONG1,LONG2,LONG3,HarborSize,HarborType,LAT,LONG
0,0,KEFLAVIK,64,0,N,22,33,W,V,OR,64.00,-22.55
1,1,STRAUMSVIK,64,3,N,22,3,W,V,CN,64.05,-22.05

In [38]:
Names=list(df.PortName)
PortLat=list(df.PortLat)
PortLong=list(df.PortLong)

In [54]:
#!pip install simplekml

In [3]:
import csv
import simplekml
import os


inputfile = csv.reader(open(os.path.join('data','DataWPI_V1.csv'),'r'))
kml=simplekml.Kml()

for row in inputfile:
  kml.newpoint(name=row[1], coords=[( row[11],row[10])])

kml.save(os.path.join('data','WPI2017.kml'))

In [ ]:
#Crating Polygon

import csv
import simplekml
import os

kml1=simplekml.Kml()

pol = kml1.newpolygon(name="Atrium Garden",
                     outerboundaryis=[(18.43348,-33.98985), (18.43387,-33.99004),
                                      (18.43410,-33.98972), (18.43371,-33.98952),
                                      (18.43348,-33.98985)],
                     innerboundaryis=[(18.43360,-33.98982), (18.43386,-33.98995),
                                      (18.43401,-33.98974), (18.43376,-33.98962),
                                     (18.43360,-33.98982)])

kml1.save(os.path.join('data','CreatingPolygon.kml'))

In [ ]:
#Crating Polygon Simple Line